* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --bg-color: #EDEADE;
}

body {
    background-color: var(--bg-color);
}

#container {
    text-align: center;
    position: relative;
}

#board {
    border: 5px solid black;
    border-radius: 8px;
}

/* #reset {
    margin-top: 3%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
} */

.gameOverScreen {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 40%;
    display: none;
}

h2 {
    border: 3px solid black;
    width: fit-content;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: var(--bg-color);
    margin: 0 auto;
}